*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
*.gif
Stitch_From_KaolisleCity.png
Stitch_From_KaolisleCity2.png
Stitch_From_Route109.png
src/data/map_group_count.h
team_magma2.png
team_magma2.bin
newrocket1.png
newmagma.png
Image71.png
newmagma.bin
tools/trainerproc/trainerproc
